.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #A19F9F;
  color: black;
  width: 200px;
}

.btn:hover {
  color: #A19F9F;
}
